# Ansible managed
#
# If you want to change your password, you can use this command
#
#   SET PASSWORD = PASSWORD("...");
#
# on the MySQ shell. Remember to change it in this file afterwards.
#
# Please note that this is the configuration for your MySQL client, not the
# MySQL server configuration. The password is included so you can connect
# to MySQL without having to enter it manually.
# You can NOT change it by editing this file, you need to use SET PASSWORD
# for that.
#
# Further information can be found at:
#
# https://manual.uberspace.de/en/database-mysql.html#changing-your-password
#
# You can use a read-only account using this command:
# mysql --defaults-group-suffix=readonly
# This will restrict the client to the 'SELECT' statement.
# You cannot change the read-only password yourself.
# Please contact us at hallo@uberspace.de if necessary.

[client]
user=langman
password=2jZgDHY_ayV:xeccgcab

[clientreadonly]
user=langman_ro
password=aTsKc5d_PRQ.,KIvhRVF
